img {
    /*height: 100px;
    width: 100px;
    background-color: #000;*/
    position: relative;
    top: 100px;
    left: 100px;
    /*transition-property: height, width;*/
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

img:hover {
    /*transform: scale(2);*/
    transform: scale(2);
}